@keyframes celebrate {
  0% { transform: scale(1); opacity: 1; }
  25% { transform: scale(1.2); opacity: 1; }
  50% { transform: scale(1); opacity: 1; }
  75% { transform: scale(1.2); opacity: 1;}
  90% { transform: scale(1); opacity: 1;}
  100% { transform: scale(0.5); opacity: 0;}
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@keyframes score {
  0% {transform: scale(1);}
  25% {transform: scale(1.3);}
  50% {transform: scale(1);}
  75% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

@keyframes tilt {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(15deg);}
  75% { transform: rotate(45deg);}
  100% {transform: rotate(-15deg);}
  100% { transform: rotate(0deg);}
}


header {
  display: flex;
  margin: 1vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid wheat;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header div h1 {
  white-space: nowrap;
}
header div h1 .purple {
  color: purple;
}
header div h1 .red {
  color: red;
}
header div h1 .green {
  color: green;
}

header .score-board h1{
  padding: 0.5vw 3vw;
  background-color: rgb(243, 238, 238);
  border-radius: 10%;
  transition: animation 0.5s ease-in-out, border 0.5s ease-in-out, border-color 0.5s ease;
  border: 2px solid transparent;
}
header .score-board h1.animateScore {
  animation: score 2s ease-in-out;
  border: 2px solid green;
}
header .score-board h1.alarm {
  animation: score 2s ease-in-out infinite;
  border: 2px solid red;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game .game-instructions {
  font-size: 1.5vw;
  color: rgb(102, 92, 57);
}
.game .game-instructions h2 {
  margin-bottom: 1vw;
}

.game .game-status {
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game .game-status .win,
.game .game-status .lose {
  font-size: 2rem;

}
.game .game-status .win {
  color: green;
  animation: celebrate 3s ease-in-out forwards;
  
}
.game .game-status .lose {
  color: red;
  animation: fade-out 2s ease-in-out forwards;
}

.game .game-status .startOver {
  animation: fade-out 2s ease-in-out forwards;
}
.game .target-color {
  /* background-color: blue; */
  padding: 8vw;
  margin: 1vw;
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
}

.game .color-options {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2.1vw 0;
  margin-bottom: 0;
}
.game .color-option {
  padding: 2vw 3.5vw;
  border-radius: 10%;
  margin: 0.5vw;
  cursor: pointer;
  transition: transform 0.3s ease, animation 0.5s ease-in-out;
  margin-bottom: 0;
  
}

.game .color-option:hover {
  transform: scale(1.1);
  animation: tilt 2s ease-in-out infinite;
}


.game .reset {
  /* background-color: rgb(95, 86, 53); */
  background: rgba(133, 125, 97, 0.164);
  border: 1px solid rgb(63, 59, 44);
  margin-top: 0;
  
  color: white;
  padding: 0 3vw;
  border-radius: 10px;
  cursor: pointer;
  margin: 1.5vw 0 3vw;
  transition: box-shadow 0.5s ease-in-out;

}

.game .reset:hover {
  box-shadow: 2px 0px 25px 2px rgb(95, 86, 53);
}

@media (min-width: 300px) and (max-width: 768px){
  .game {
    display: flex;
    flex-direction: column;
    
  }
  
  .game .game-instructions {
    font-size: 4vw;
    color: rgb(102, 92, 57);
  }
  
  .game .target-color {
    /* background-color: blue; */
    padding: 15vw;
    margin-top: 0;
    border-radius: 50%;
  
  }
  
  .game .color-options {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2vw;
  }
  .game .color-option {
    padding: 5vw;
    border-radius: 10%;
    margin: 1vw;
  }

  .game .reset {
    /* background-color: rgb(95, 86, 53); */
    color: white;
    padding: 0vw 7vw;
  
  }
 
  
  
}